extends ../../master/website

block pagecss
  link(href='app/css/signin.css', rel='stylesheet')


block content
  form.form-signin(method='post', action='/login')
    h2.form-signin-heading Please sign in
    input.form-control(type='text', name='username', placeholder='Email address', autofocus='autofocus')
    input.form-control(type='password', name='password', placeholder='Password')
    //-label.checkbox
      input(type='checkbox', value='remember-me')
      | Remember me
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
