extends ../../master/website


block pagecss
  link(href='app/css/signin.css', rel='stylesheet')

block content
  form.form-signin(method='post', action='/signup')
    h2.form-signin-heading Sign Up
    input.form-control(type='text', name='txtUsername', id='txtUsername', placeholder='Email address', autofocus='autofocus')
    input.form-control(type='password', name='txtPassword', id='txtPassword', placeholder='Password')
    br
    input.form-control(type='text', name='txtFirstName', id='txtFirstName', placeholder='First Name')
    input.form-control(type='text', name='txtLastName', id='txtLastName', placeholder='Last Name')
    br
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
